DEV_APP_PORT=3000
DEV_DB_HOST=mongo
DEV_DB_PORT=27017
DEV_DB_NAME=shopDEV
DEV_REDIS_HOST='redis'
DEV_REDIS_PORT=6379
DEV_RABBITMQ_URL=amqp://user:password@localhost:5672

DEV_CLOUDINARY_API_KEY=
DEV_CLOUDINARY_API_SECRET=
DEV_CLOUDINARY_NAME=
DEV_AWS_BUCKET_NAME=
DEV_AWS_BUCKET_ACCESS_KEY=
DEV_AWS_BUCKET_SECRET_KEY=

PRO_APP_PORT=3052
PRO_DB_HOST=localhost
PRO_DB_PORT=27017
PRO_DB_NAME=shopPRO


LOG_LEVEL='info'