<!-- welcomeEmailTemplate.html -->

<div>
  <h2>Welcome to Our Service!</h2>
  <p>Hi <%= email_name %>,</p>
  <p>Your account has been successfully created.</p>
  <p>Here is your temporary password:</p>
  <p><strong><%= password %></strong></p>
  <p>Please log in and change your password as soon as possible.</p>
  <p>Thank you,<br>The Team</p>
</div>
